<div>
    <sly-field title="Mask Thickness"
               description="The line width of object borders">
        <el-input-number v-model="state.thickness"></el-input-number>
    </sly-field>
    <sly-field title="Human masks"
               description="Side-by-side view of original image on the left and visualized masks on the right with colors of classes.">
        <el-checkbox v-model="state.humanMasks">enable</el-checkbox>
    </sly-field>
    <sly-field v-if="state.humanMasks"
               title="Resize Human masks"
               description="Whether to resize human masks or not">
        <el-checkbox v-model="state.resizeHumanMasks">enable</el-checkbox>
    </sly-field>
    <sly-field v-if="state.humanMasks && state.resizeHumanMasks"
               title="Resize percentage"
               description="The percentage to resize human masks by">
        <el-input-number v-model="state.resizePercent" :min="1" :max="100"></el-input-number>
    </sly-field>
    <sly-field title="Machine masks"
               description="Additional RGB masks for NN where colors are the indices of classes">
        <el-checkbox v-model="state.machineMasks">enable</el-checkbox>
    </sly-field>
    <sly-field title="Semantic masks (RGB)"
               description="Semantic segmentation masks with colors of classes. Unlabeled pixels are black (0,0,0).">
        <el-checkbox v-model="state.semanticRgbMasks">enable</el-checkbox>
    </sly-field>
    <sly-field title="Instance masks"
               description="Creates additional masks for every object">
        <el-checkbox v-model="state.instanceMasks">enable</el-checkbox>
    </sly-field>
</div>
