<div>
    <sly-field title="Mask Thickness"
               description="The line width of object borders">
        <el-input-number v-model="state.thickness"></el-input-number>
    </sly-field>
    <sly-field title="Human masks"
               description="Semantic segmentation RGB masks with colors of classes. (0, 0, 0) is for background (unlabeled area)">
        <el-checkbox v-model="state.humanMasks">enable</el-checkbox>
    </sly-field>
    <sly-field title="Machine masks"
               description="Additional RGB masks for NN where colors are the indices of classes">
        <el-checkbox v-model="state.machineMasks">enable</el-checkbox>
    </sly-field>
    <sly-field title="Instance masks"
               description="Creates additional masks for every object">
        <el-checkbox v-model="state.instanceMasks">enable</el-checkbox>
    </sly-field>
    <sly-field title="Split result archive into parts"
               description="Split result archive into parts with given size (in MB/GB)">
      <div class="fflex">
        <el-input-number
            v-model="state.splitSize"
            size="small"
            :min="state.splitMode === 'GB' ? 1 : 100"
            :max="state.splitMode === 'GB' ? 10 : 1024"
        ></el-input-number>
        <el-radio-group
            class="ml10"
            size="mini"
            v-model="state.splitMode"
            @change="() => state.splitMode === 'GB' ? state.splitSize = 1 : state.splitSize = 100"
        >
            <el-radio-button label="MB">MB</el-radio-button>
            <el-radio-button label="GB">GB</el-radio-button>
        </el-radio-group>
      </div>
    </sly-field>
</div>
