<div>
    <sly-field title="Mask Thickness"
               description="Determines thickness of masks.">
        <el-input-number v-model="state.thickness"></el-input-number>
    </sly-field>
    <sly-field title="Human masks"
               description="Download human masks from project">
        <el-checkbox v-model="state.humanMasks">enable</el-checkbox>
    </sly-field>
    <sly-field title="Machine masks"
               description="Download machine masks from project">
        <el-checkbox v-model="state.machineMasks">enable</el-checkbox>
    </sly-field>
</div>
